pickleshare==0.7.4
pipenv==11.10.3
Flask==0.12.2
Flask-Cors==3.0.3
gevent==1.2.2
gunicorn==19.8.1
glob2==0.5
html5lib==0.999999999
newspaper3k==0.2.6
nltk==3.2.4
numexpr==2.6.2
numpy==1.13.3
numpydoc==0.7.0
matplotlib==2.1.0
pandas==0.20.3
scikit-image==0.13.0
scikit-learn==0.19.1
statsmodels==0.8.0
sympy==1.1.1
tables==3.4.2
virtualenv==15.2.0
virtualenv-clone==0.3.0
