<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Homepage</title>
  <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='standardize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='index-grid.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="body page-index clearfix" id="main" onload="fadeIn()">
  <section class="main clearfix">
    <img class="image graph" src="/static/graph.png">
    <img class="image sentiment" src="/static/sentiment.png">
    <img class="image scraper" src="/static/scraper.png">
    <p class="text method">Methodology</p>
    <p class="text howits"><br>HOW IT'S DONE<br></p>
    <p class="text sentimenttext">From NLTK, a Vader Sentiment analysis is conducted on the article, delivering four points of measurement: negative, postive, neutral, and compound values</p>
    <p class="text analysistext">Using Matplotlib, the article is plotted and compared against 300 points of data from 10 different mainstream sources from outlets like CNN, WashPo, and NYTimes</p>
    <p class="text scrapertext">The news article is scraped using Newspaper3k's article.text, delivering the article free of links, images, and other fluff</p>
    <div id="method" class="element"></div>
  </section>
  <header id="header" class="_container clearfix">
    <p class="text home">HOME</p>
    <p onClick="window.location='/about';" class="text about">ABOUT</p>
    <p onClick="window.location='/resources';" class="text resources">RESOURCES</p>

    <form method="POST">
      <input class="_input" id="url" name="url" placeholder="ex. www.aljazeera.com/news/t9280s84w3" type="text">

    </form>
    <p class="enterurl">Enter a URL below, and see how your news feels.</p>
    <p class="newshas">The News Has Feelings</p>
  </header>

</body>

  <script src="{{ url_for('static', filename='indexscript.js') }}"></script>
</html>
